<html>

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>The Humanity Algorithm</title>
        <!--<link rel="icon" href="./img/favicon.png" type="image/x-icon" />-->
        <link href="./css/main.css" rel="stylesheet" type="text/css" />

        <!-- Load tag graph dynamically -->
        <script>let tags = {};</script>
        {% for tag in site.tags %}
        {% assign t = tag | first %}
        {% assign posts = tag | last %}
        {% if t != "txt" %}
        <script>tags["{{t}}"] = {};</script>
        {% for post in posts reversed %}
        {% if post.tags contains t %}
        {% if post.tags contains "txt" %}
        <script>tags["{{t}}"]["{{post.title}}.txt"] = "{{post.url}}";</script>
        {% else %}
        <script>tags["{{t}}"]["{{post.title}}.bp"] = "{{post.url}}";</script>
        {% endif %}
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endfor %}

        <!-- Load the terminal -->
        <script src="./js/polyfills.js"></script>
        <script src="./js/main.js"></script>

    </head>

    <body>

        {{ content }}

    </body>    
</html>